{% extends 'drinkadvisor/base.html' %}

{% block title %} About Us{% endblock %}

{% block content_block %}

<div class="container">
    <div class="jumbotron">
    <h3>Second year Computer Science students at the University of Glasgow were involved in this project.
        They are:</h3>
        <br>
    <ul>
        <li><h5>Huriyah Hussain</h5></li>
        <li><h5>Maxwell McLaughlan</h5></li>
        <li><h5>Ubaid Khan</h5></li>
        <li><h5>Xiuhan Li</h5></li>
    </ul>
    </div>
</div>

{% endblock %}

