{% extends 'drinkadvisor/base.html' %}
{% load staticfiles %}

{% block title %}{{ drink.name }}{% endblock %}

{% block content_block %}
	{% if drink %}
     <form action="{% url 'drinks' %} method = "post">
	  {% csrf_token %}
      {{comment_form.as_p}}
      <input type="text"/>
      <input type="submit" name="submit" value="Add Comment"/>
     </form>
		<h1>Drink Name: {{ drink.name }}</h1>
		<h2>Calories: {{ drink.calories }}</h2>
		{% if not drink.sugar_free %}
			<h3>Sugar: {{ drink.sugar }}</h3>
		{% else %}
			<h3>This drink is sugar free</h3>
		{% endif %}
		{% if not drink.picture is None %}
		<img src ="{{ drink.DrinkProfile.picture.url }}" width="240">
		{% endif %}

	{% else %}
		The specified drink does not exist!
	{% endif %}
{% endblock %}