{% extends 'drinkadvisor/base.html' %}
{% load staticfiles %}

{% block title %} Edit Profile Page {% endblock %}

{% block content_block %}

<div class="container">
  <form id="edit_profile" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Submit</button>
      <input type="button" onclick="myFunction()" value="Reset">

    <script>
        function myFunction(){
            document.getElementById("edit_profile").reset();
        }
    </script>
  </form>
</div>



{% endblock %}}