{% extends 'drinkadvisor/base.html' %}

{% block title_block %} Sugar Free Drinks {% endblock %}

{% block content_block %}

<div class="container" >
    {% if user.is_authenticated %}
    <div>
    <a class=addr href="{% url 'add_drink' %}">Add a New Drink</a>
    </div>
    {% endif %}
	<br>
	<br>
    {% if drinks %}
        {% for drink in drinks %}
            {% if not drink.is_energy_drink %}
                {% if drink.sugar_free %}
				<div class="square">
					<a href="{% url 'show_drink' drink.slug %}"></a>
					<div class=content>
					<h5>{{ drink.name }}</h5>
					</div>
				</div>

                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
    There are no drinks currently.
    {% endif %}
</div>


{% endblock %}}}