{% extends 'drinkadvisor/base.html' %}

{% block title_block %} Sugar Free Drinks {% endblock %}

{% block content_block %}

<div>
    {% if user.is_authenticated %}
    <a href="{% url 'add_drink' %}">Add a New Drink</a>
    {% endif %}
</div>

<div>
    {% if drinks %}

        {% for drink in drinks %}
            {% if not drink.is_energy_drink %}
                {% if drink.sugar_free %}

                <div ><a href="{% url 'show_drink' drink.slug %}" style="display:inline-block;height:100px;width:100px;color:black" >{{ drink.name }}</a></div>
                {% endif %}
            {% endif %}

        {% endfor %}

    {% else %}
    There are no drinks currently.
    {% endif %}
</div>





{% endblock %}}}